.wrapper {
    border-top: 1px solid #e3e3e4;
}
.label {
    padding: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}
.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.account-item {
    display: flex;
    padding: 8px;
    cursor: pointer;
}
.check {
    margin-left: 5px;
    color: #00d9ff;
    font-size: 1.6rem;
}
.nickname {
    margin-top: 0;
    font-size: 1.6rem;
    line-height: 1;
    color: #161823;
}
.item-info {
    flex: 1;
    margin-left: 12px;
}
.name {
    font-size: 1.2rem;
    opacity: #161823bf;
}
.more-btn {
    font-size: 1.4rem;
    padding: 8px;
    cursor: pointer;
    font-weight: 700;
    color: #fe2c55;
}
